---
import Layout from '../layouts/Layout.astro';
import Form from '../components/form/Form.astro';

import { db, Assistant, isDbError } from "astro:db";
import Input from '../components/form/Input.astro';

if (Astro.request.method === 'POST') {
  // Analizar datos de formulario
  try {
    const formData = await Astro.request.formData();
    
    const name = formData.get('name');
    const enrollment = formData.get('enrollment');
    const email = formData.get('email');
    const social = formData.get('social');
    const id = crypto.randomUUID();
    
    let enrollmentNumber; 
    
    if (typeof enrollment === "string") {
      enrollmentNumber = parseInt(enrollment, 10);
    }

    if (typeof name === 'string' && typeof email === 'string' && typeof social === 'string' && typeof enrollmentNumber === 'number' && typeof id === 'string') {
      // Insertar datos en la base de datos
      try {
        await db.insert(Assistant).values({
          id: id,
          name: name,
          enrollment: enrollmentNumber,
          email: email,
          social: social,
        });

        return Astro.redirect(`success?name=${name}`);
      } catch (e) {
        if (isDbError(e)) {
          console.error(`No se puede insertar un usuario con nombre ${name}\n\n${e.message}`);
        } else {
          console.error('Se ha producido un error inesperado');
        }
        Astro.response.status = 500;
        Astro.response.statusText = 'Error interno del servidor';
      }
    } else {
      console.error('Datos inválidos');
      Astro.response.status = 400;
      Astro.response.statusText = 'Datos Invalidos';
    }
  } catch (error) {
    console.error("Error al procesar la solicitud:", error);
    Astro.response.status = 500;
    Astro.response.statusText = 'Error interno del servidor';
  }
}

---

<Layout title='Confirmación | ReuSoft 2024'>
  <div class="flex flex-col items-center min-h-screen justify-center">
    <h1 class="text-2xl sm:text-4xl text-center sm:text-left font-bold text-slate-100 mb-12 ">Confirma tu asistencia</h1>
    <Form>
      <!--Proyect name INP -->
      <Input name="name" type="text" title="Nombre" isRequired={true} placeholder=""/>
  
      <!--Description INP -->
      <Input name="enrollment" type="number" title="Matrícula" isRequired={true} placeholder=""/>
        
      <!--Homepage Link INP -->
      <Input name="email" type="email" title="Email" isRequired={true} placeholder=""/>
      <!--Image Link INP -->
      <Input name="social" type="text" title="Instagram (opcional)" isRequired={false} placeholder=""/>      
    </Form>
  </div>
</Layout>
